@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashboard_container.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin-left: -222px;
}
.form_container {
  background-color: white;
  height: 600px;
  width: 454px;
}

/* Contact.js */
.contact_form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}

.contact_heading {
  margin-bottom: 30px;
}

.contact_input {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}
.add_trip_input.name {
  margin-top: -29px;
}
.add_trip_input.email {
  margin-top: 49px;
  margin-left: -39px;
}

.contact_form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.contact_form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.contact_form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.contact_form > button.submit {
  padding: 6px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 59px;
}
.add_trip_input.message_text {
  resize: none;
  margin-top: -33px;
}
.trip_input_labels.message {
  margin-top: 50px;
}

.button.submit {
  width: 311px;
  height: 30px;
  margin-top: 65px;
  margin-left: -29px;
}
