.dashboard_page {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.dashboard_greeting_container {
    max-width: 1200px;
    background-color: #f2f0e5;
    margin: 5px auto;
    border-radius: 5px;
}
.dashboard_container {
    display: flex;
    margin: 50px auto;
    position: absolute;
    top: 35.3%;
    left: 22.7%;
    height: 100vh;
    // min-width: 925px;
    width: 983px;
    background-color:#f2f0e5;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card_container {
    padding: 15px ;
}