.dashboard_page {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.dashboard_container {
    max-width: 1200px;
    background-color: #f2f0e5;
    margin: 5px auto;
    border-radius: 5px;
}