.item_container {
    display:flex;
    align-items:center;
    // justify-content: center ;
    padding: 0.4rem 1rem;
    width: 70%;
    margin-left: 18px;
    text-transform: uppercase;
    &:hover {
        background-color: rgba(255, 255, 255, 0.795);
        color:  rgb(242, 106, 97);
        border-radius: 20px;
        cursor:pointer;

}
}
.item_image {
    margin-right: 15px;
    margin-left: 30px;
}
.item_title {
    font-weight: 600;
}