.side_bar_container {
    position: absolute;
    background-color: red;
    left: 7%;
    width: 210px;
    top: 43%;
    height: 100vh;
    background-color:#f2f0e5;
    border-radius: 6px;
    padding: 6px 0px;

}