$google-blue: #4285f4;
$button-active-blue: #1669f2;
$white: #fff;


*{
    margin: 0;
}
.login {
  background-image: linear-gradient(to right bottom, #051937, #13152c, #171221, #150f18, #0e0d0e);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .login__container {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: rgba(101, 71, 71, 0.15) 0 3px 9px 0;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 380px;
    margin: 10px 0;
    height: 55px;
    /* border-radius: 10px; */
    padding: 0px 1.5rem;
    position: relative;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;


  }
  .login__btn {
    padding: 10px;
    margin-bottom: 10px;
    color:white;
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.6rem 1.5rem;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    background-color: rgb(7, 15, 44);

    &:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-2px);
      background-color: rgb(7, 15, 44);

    }

  }
  .google-btn {
    margin: 1rem auto;
    width: 18.4rem;
    height: 2.7rem;
    background-color: $google-blue;
    border-radius: 0.2rem;
    // box-shadow: 0 0.3rem 0.4rem 0 rgba(0, 0, 0, 0.25);
    .google-icon-wrapper {
      position: absolute;
    margin-top: 0rem;
    /* margin-left: 0.1rem; */
    width: 3.8rem;
    height: 2.69rem;
    border-radius: 0.2rem;
    background-color: #fff;
    border: 0.1px solid rgb(216, 211, 211);
    cursor: pointer;
    }
    .google-icon {
      margin-top: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
    }
    .btn-text {
      float: right;
      margin: 0.4rem 2.1rem 0 0;
      color: $white;
      font-size: 1.2rem;
      letter-spacing: 0.02rem;
      // font-family: "Roboto";
    }
    &:hover {
      box-shadow: 0 0 0.6rem $google-blue;
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-2px);
      // background-color: rgba(60, 64, 67, 0.08);
      background-color: rgb(7, 15, 44);
    }
    &:active {
      background: $button-active-blue;
    }
  }
  .forget__password {
    text-decoration: none;
    color: black;
    font-weight: 500;
    &:hover {
      color: red;      // background-color: rgba(60, 64, 67, 0.08);

    }
    
  }
  .register {
    color: blue;
  }
  .login__google {
    background-color: rgb(7, 15, 44);
  }
  .login div {
    margin-top: 7px;
  }